[Unit]
Description=ntfy-alertmanager server
After=network.target
Wants=ntfy.service

[Service]
User=nobody
ExecStart=/usr/local/bin/ntfy-alertmanager

[Install]
WantedBy=multi-user.target
